<!-- Page info tags -->
<meta name="author" content="{{ site.author }}" />
{% if page.title %}
<title>{{ page.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}

{% if page.meta-description %}
<meta name="description" content="{{ page.meta-description }}">
{% elsif page.subtitle %}
<meta name="description" content="{{ page.subtitle }}">
{% else %}
<meta name="description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
{% endif %}

<link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
