  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />

  {% if page.meta-title %}
  <meta name="twitter:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.meta-description %}
  <meta name="twitter:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
  <meta name="twitter:description" content="{{ page.subtitle }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  {% if page.shareimg %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.shareimg }}" />
  {% endif %}