<nav id="top-bar">
    <div id="dropdown-wrapper">
         <i id="dropdown-btn" class="fa fa-bars fa-2x" aria-hidden="true"></i>
         <div id="dropdown-menu">
            <div id="search-wrapper">
                <form method="GET" action="{{ site.url }}{{ site.baseurl }}/search/">
                    <input id="search-box" type="text" name="keyword" placeholder="type & enter to search">
                </form>
            </div>
            <div class="vline"></div>
            {% include html_includes/head/topbar-menu.html %}
            <div class="vline"></div>
            <div id="theme-selector">
                <span style="vertical-align:middle;">Light theme&nbsp;</span>
                <label style="vertical-align:middle;" class="switch">
                    <input id="theme-select" type="checkbox">
                    <div class="slider round"></div>
                </label>
                <span style="vertical-align:middle;">&nbsp;Dark theme</span>
            </div>
         </div>
    </div>
    <div class="menu-nojs">
      {% include html_includes/head/topbar-menu.html %}
    </div>
    <div id="site-title"><a href="{{ site.url }}{{ site.baseurl }}/"> {{ site.title }} </a></div>
</nav>
