---
layout: default
---
{% if page.bigimg %}
    <div class="header" style="background: url({{ site.url }}{{ site.baseurl }}/assets/{{ page.bigimg }}); background-size: 100%">
        <div class="header-content">
            <h1 class="page-title white-text">{{ page.title }}</h1>
            <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}<br>
            {% include html_includes/head/reading-time.html %}</span>
        </div>
    </div>
{% else %}
    <div class="header-content">
        <h1 class="page-title">{{ page.title }}</h1>
        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}<br>
        {% include html_includes/head/reading-time.html %}</span>
    </div>
{% endif %}
        
<div class="container">
    {{ content }}
</div>
